In [2]:
import pandas as pd
import numpy as np
import glob
import os
import sqlite3

In [11]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\ifoa\appdata\local\programs\python\python39\lib\site-packages (3.1.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\users\ifoa\appdata\local\programs\python\python39\lib\site-packages (from openpyxl) (1.1.0)

WARNING: You are using pip version 21.2.3; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\Users\ifoa\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [3]:
df  = pd.read_csv("energia.csv")

In [4]:
df

,ITTER107,Territorio,TIPO_DATO_CENERG,Tipo dato,DOTAZIONI_A,Fonte alimentazione,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,ALL,tutte le voci,2013,2013,42302968.0,NaN,NaN
1,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,H_OIL,gasolio,2013,2013,1694455.0,NaN,NaN
2,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,LPG,Gpl (Gas Petrolio Liquefatto),2013,2013,2437978.0,NaN,NaN
3,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,ELECTR,energia elettrica,2013,2013,15035032.0,NaN,NaN
4,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,METAN,metano,2013,2013,21080936.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
296,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,H_OIL,gasolio,2013,2013,1137.0,NaN,NaN
297,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,LPG,Gpl (Gas Petrolio Liquefatto),2013,2013,382.0,NaN,NaN
298,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,ELECTR,energia elettrica,2013,2013,753.0,NaN,NaN
299,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,FIREWOOD,legna,2013,2013,470.0,NaN,NaN
300,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,PELLETS,pellets,2013,2013,418.0,NaN,NaN

In [14]:
df["Territorio"].value_counts()

Italia                       17
Abruzzo                      11
Molise                       11
Valle d'Aosta                11
Umbria                       11
Trentino Alto Adige          11
Toscana                      11
Sicilia                      11
Puglia                       11
Provincia Autonoma Trento    11
Piemonte                     11
Nord-ovest                   11
Nord-est                     11
Mezzogiorno                  11
Basilicata                   11
Marche                       11
Lombardia                    11
Liguria                      11
Lazio                        11
Friuli-Venezia Giulia        11
Emilia-Romagna               11
Centro                       11
Campania                     11
Calabria                     11
Bolzano                      11
Veneto                       11
Sardegna                      9
Name: Territorio, dtype: int64

In [5]:
dizio = {"Valle d'Aosta / VallÃ©e d'Aoste": "Valle d'Aosta",
         "Trentino Alto Adige / SÃ¼dtirol": "Trentino Alto Adige",
         "Provincia Autonoma Bolzano / Bozen": "Bolzano"
         }

df=df.replace({"Territorio": dizio}) #sostituisce i nomi dataframe con quelli indicati in dizio

In [6]:
list_terr = df["Territorio"].unique().tolist()

In [7]:
list_terr

['Italia',
 'Nord-ovest',
 'Piemonte',
 "Valle d'Aosta",
 'Liguria',
 'Lombardia',
 'Nord-est',
 'Trentino Alto Adige',
 'Bolzano',
 'Provincia Autonoma Trento',
 'Veneto',
 'Friuli-Venezia Giulia',
 'Emilia-Romagna',
 'Centro',
 'Toscana',
 'Umbria',
 'Marche',
 'Lazio',
 'Mezzogiorno',
 'Abruzzo',
 'Molise',
 'Campania',
 'Puglia',
 'Basilicata',
 'Calabria',
 'Sicilia',
 'Sardegna']

In [8]:
#for cycles to export csv adn excel
for i in list_terr:
    df[df["Territorio"] == i].to_csv(f"csvexport/{i}.csv")
    df[df["Territorio"] == i].to_excel(f"xlsxexport/{i}.xlsx")

In [12]:
#setting the path for joining multiple files
files = os.path.join("xlsxexport/", "*.xlsx")

#list of merged files returned
files = glob.glob(files)   

#joining files with concat and read_csv
df = pd.concat(map(pd.read_excel, files), ignore_index=True,)
df.to_csv("totale1.csv",sep=";",index=False)

In [16]:
def populate_sqlite_from_csv(file, database_file,tablename):
    # Leggi il foglio di calcolo Excel in un DataFrame
    df = pd.read_csv(file)
    # Connette al database SQLite
    conn = sqlite3.connect(database_file)
    # Scrivi il DataFrame nel database SQLite
    df.to_sql(tablename, conn, if_exists='replace', index=False)
    # Chiudi la connessione al database
    conn.close()


def populate_sqlite_from_df(df, database_file,tablename):    
    # Connette al database SQLite
    conn = sqlite3.connect(database_file)
    # Scrivi il DataFrame nel database SQLite
    df.to_sql(tablename, conn, if_exists='replace', index=False)
    # Chiudi la connessione al database
    conn.close()

populate_sqlite_from_csv("energia.csv","test.db","energia")

In [17]:
#sqlite to df
import sqlite3

con = sqlite3.connect("test.db")
df = pd.read_sql_query("SELECT * from energia", con)
df

,ITTER107,Territorio,TIPO_DATO_CENERG,Tipo dato,DOTAZIONI_A,Fonte alimentazione,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,ALL,tutte le voci,2013,2013,42302968.0,None,None
1,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,H_OIL,gasolio,2013,2013,1694455.0,None,None
2,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,LPG,Gpl (Gas Petrolio Liquefatto),2013,2013,2437978.0,None,None
3,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,ELECTR,energia elettrica,2013,2013,15035032.0,None,None
4,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,METAN,metano,2013,2013,21080936.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...
296,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,H_OIL,gasolio,2013,2013,1137.0,None,None
297,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,LPG,Gpl (Gas Petrolio Liquefatto),2013,2013,382.0,None,None
298,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,ELECTR,energia elettrica,2013,2013,753.0,None,None
299,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,FIREWOOD,legna,2013,2013,470.0,None,None
300,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,PELLETS,pellets,2013,2013,418.0,None,None

In [18]:
df = pd.read_excel('anagrafica.xlsx')
df.info()

#.astype(str).str.zfill(11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ragione_sociale  400 non-null    object
 1   partita_iva      400 non-null    int64
 2   codice_fiscale   400 non-null    int64
dtypes: int64(2), object(1)
memory usage: 9.5+ KB

In [3]:
pd.read_json('json/alpha.json')

,correlationId,report,companyId,dateOfOrder,language,userId
alternateSummary,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"{'province': 'FERRARA', 'vatRegistrationNumber...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
companyId,8da7f88f-9163-4709-b1e5-65ba4de9aaad,IT-0-FE97207,IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
companySummary,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"{'businessName': 'ALPHA S.R.L.', 'country': 'I...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
creditScore,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"{'currentCreditRating': {'commonValue': 'B', '...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
extendedGroupStructure,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"[{'id': 'IT-0-AT76661', 'country': 'IT', 'safe...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
financialStatements,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"[{'type': 'GlobalFinancialsGGS', 'yearEndDate'...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
groupStructure,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"{'ultimateParent': {'country': 'IT', 'id': 'IT...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
language,8da7f88f-9163-4709-b1e5-65ba4de9aaad,EN,IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
localFinancialStatements,8da7f88f-9163-4709-b1e5-65ba4de9aaad,"[{'type': 'LocalFinancialsCSIT', 'yearEndDate'...",IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668
otherInformation,8da7f88f-9163-4709-b1e5-65ba4de9aaad,{'employeesInformation': [{'numberOfEmployees'...,IT-0-FE97207,2022-03-18T16:03:16.470Z,en,101700668

In [10]:
import pandas as pd

SHEET_ID = '13Y6cqIRLcZoXlqwJH8uXBIPjkzAMbL51_DioO7Wo6Mk'
SHEET_NAME = 'pippo'
foglio_id=0

url = f'https://docs.google.com/spreadsheets/d/{SHEET_ID}/gviz/tq?tqx=out:csv&sheet={SHEET_NAME}/edit#gid={foglio_id}'
df = pd.read_csv(url)
df

   agagag  aaga  ahahh
0       1     2      3
1       2     3      4
2      45    55     44